.gridCSS {
    -fx-background-color: #d0e6df;
}

.gamePane{
    -fx-background-color: #b6d9d9;
    -fx-font-size: 42px;
    -fx-effect: dropshadow(gaussian, #b6d9d9, 0, 5, 0, 9);
}

.gamePane1{
    -fx-background-color: #6cf;
    -fx-font-size: 42px;
    -fx-effect: dropshadow(gaussian, #0af, 0, 5, 0, 9);

}

.gamePane2{
    -fx-background-color: #ff6680;
    -fx-font-size: 42px;
    -fx-effect: dropshadow(gaussian, #ff002b, 0, 5, 0, 9);
}

.gamePane3{
    -fx-background-color: #fff;
    -fx-font-size: 42px;
    -fx-effect: dropshadow(gaussian, #fc6, 0, 5, 0, 9);
}

.gamePaneNot3Label{
    -fx-text-fill: #fff;
}

.gamePane3Label{
    -fx-text-fill: #000;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #666666;
    -fx-padding: 10 0 0 0;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #666666;
    -fx-padding: 0 0 0 0;
}

.moveTextLabel{
    -fx-font-size: 45px;
    /*-fx-padding: 75 100 0 100;*/
}

.pupilLabel{
    -fx-text-fill: Green;
    /*-fx-padding: 60 0 0 0;*/
}

.moveCounterLabel{
    -fx-font-size: 20px;
    /*-fx-padding: 20 100 0 210;*/
}

